= nested_form_for @list do |f|
  .row
    .col-md-6
      .panel.panel-info
        .panel-heading
          %h3.panel-title List Instructions:
        .panel-body
          %p
            Here you can name your
            %strong list
            , call it anything you'd like.
    .col-md-6
      .panel.panel-info
        .panel-heading
          %h3.panel-title Item Instructions:
        .panel-body
          %p
            Create items here, use the
            %strong '+' and '-' buttons
            to add and remove list items. You can also tag certain items by using a
            %strong comma-separated
            list.
  .row
    .col-md-6
      - if @list.errors.any?
        #error_explanation
          %h2= "#{pluralize(@list.errors.count, "error")} prohibited this list from being saved:"
          %ul
            - @list.errors.full_messages.each do |msg|
              %li= msg
      .form-group.form-inline
        = f.label :name, "List Name"
        = f.text_field :name, :class => 'form-control'
    .col-md-6
      = f.fields_for :items
      = f.link_to_add "<div class='btn btn-md btn-success'><span class='glyphicon glyphicon-plus' style='color: white;'></span></div>".html_safe, :items
  .row
    .col-md-2
      .actions
        %button.btn.btn-lg.btn-success{:type => 'submit'}
          %span.glyphicon.glyphicon-save
          Save

