.form-group.form-inline
  = f.label :name, "Item Name"
  = f.text_field :name, :class => 'form-control'
  = f.label :tags
  = f.text_field :tag_list
  = f.link_to_remove "<div class='btn btn-md btn-danger'><span class='glyphicon glyphicon-minus' style='color: white;'></span></div>".html_safe
