.container
  .row
    .col-md-12
      %h1 Editing List
  = render 'form'
  .row
    .col-md-2.col-md-offset-10
      = link_to '<span class="glyphicon glyphicon-eye-open"></span> Show'.html_safe, @list, :class => '.btn btn-sm btn-primary', :style => 'color: white;'
      = link_to '<span class="glyphicon glyphicon-arrow-left"></span> Back'.html_safe, lists_path, :class => '.btn btn-sm btn-primary', :style => 'color: white;'
