.container
  .row
    .col-md-12
      %h1 My Lists
  .row
    .col-md-12
      %table.table.table-responsive.table-striped
        %tr
          %th Name
          %th Number of Items
          %th
        - @lists.each do |list|
          %tr
            %td= link_to list.name, list
            %td= list.items.count
            %td
              = link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, list_path(list), :class => '.btn btn-sm btn-primary', :style => 'color: white;'
              = link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_list_path(list), :class => '.btn btn-sm btn-warning', :style => 'color: white;'
              = link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, list, :class => '.btn btn-sm btn-danger', :style => 'color: white;', :method => :delete, :data => { :confirm => 'Are you sure?' }
  .row
    .col-md-12
      = link_to '<span class="glyphicon glyphicon-plus"></span>'.html_safe, new_list_path, :class => 'btn btn-lg btn-success pull-right', :style => 'color: white;'
