.container
  .row
    .col-md-12
      %h1 New List
      = render 'form'
      = link_to '<span class="glyphicon glyphicon-arrow-left"></span> Back'.html_safe, lists_path, :class => '.btn btn-sm btn-primary', :style => 'color: white;'
