- if @items.count > 0
  .modal.fade.bs-example-modal-lg{:role => "dialog", :tabindex => "-1", :aria => { :hidden => "true", :labelledby => "myLargeModalLabel" } }
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %h4 Your randomly selected choice is:
        .modal-body
          %h1= @random_choice.name
        .modal-footer
          = link_to "<span class='glyphicon glyphicon-remove-circle'></span> I don't like it...".html_safe, request.original_url, :class => 'btn btn-warning', :style => 'color: white;'
          %button.btn.btn-success{"data-dismiss" => "modal", :type => "button"}
            %span.glyphicon.glyphicon-ok-circle
            Looks good!
- else
  .modal.fade.bs-example-modal-lg{:role => "dialog", :tabindex => "-1", :aria => { :hidden => "true", :labelledby => "myLargeModalLabel" } }
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %h4 Your randomly selected choice is:
        .modal-body
          %h1 Absolutely Nothing!
          %h2 You lose!
          %h3 Good day, sir!
          %br
          %p You didn't have anything to pick from :(
        .modal-footer
          = link_to "<span class='glyphicon glyphicon-remove-circle'></span> I don't like it...".html_safe, request.original_url, :class => 'btn btn-warning', :style => 'color: white;'
          %button.btn.btn-success{"data-dismiss" => "modal", :type => "button"}
            %span.glyphicon.glyphicon-ok-circle
            Looks good!
.container
  .row
    .col-md-2
      %h4
        Use tags to filter
        %span.glyphicon.glyphicon-arrow-right
    .col-md-8
      - tag_cloud(@tags, ['btn btn-primary btn-xs', 'btn btn-primary btn-sm', 'btn btn-primary btn', 'btn btn-primary btn-lg']) do |tag, css_class|
        - if(params.has_key?(:tag))
          = link_to "<span class='glyphicon glyphicon-tag'></span> ".html_safe + tag.name, request.original_url + "," + tag.name, { :style => 'color: white; text-decoration: none;', :class => css_class}
        - else
          = link_to "<span class='glyphicon glyphicon-tag'></span> ".html_safe + tag.name, request.original_url + "?tag=" + tag.name, { :style => 'color: white; text-decoration: none;', :class => css_class}
    .col-md-2
      = link_to "<span class='glyphicon glyphicon-refresh'></span> Reset Tags".html_safe, list_path(@list), :class => 'btn btn-warning', :style => 'color: white;'
    %br
    %br
  .row
    .col-md-6
      %p#notice= notice
      %h3
        %b List:
        = @list.name
      %p{:style => 'text-align: center;'}
        %span.glyphicon.glyphicon-arrow-down
        Use tags to narrow your choices, the hit the giant button below
        %span.glyphicon.glyphicon-arrow-down
      %button.btn.btn-lg.btn-success.form-control{:data => { :target => ".bs-example-modal-lg", :toggle => "modal" } }
        %span.glyphicon.glyphicon-gift
        Choose one for Me!
        %span.glyphicon.glyphicon-gift
    .col-md-6
      %table.table.table-responsive.table-striped
        %tr
          %th Item
          %th Tags
          - @items.each do |item|
            %tr
              %td= item.name
              %td
                - item.tags.each do |tag|
                  - if(params.has_key?(:tag))
                    %span.h1.label.label-primary= link_to tag.name, request.original_url + "," + tag.name, { :style => 'color: white; text-decoration: none;' }
                  - else
                    %span.h1.label.label-primary= link_to tag.name, request.original_url + "?tag=" + tag.name, { :style => 'color: white; text-decoration: none;' }
  .row
    .col-md-2.col-md-offset-10
      = link_to '<span class="glyphicon glyphicon-pencil"></span> Edit'.html_safe, edit_list_path(@list), :class => '.btn btn-sm btn-warning', :style => 'color: white;'
      = link_to '<span class="glyphicon glyphicon-arrow-left"></span> Back'.html_safe, lists_path, :class => '.btn btn-sm btn-primary', :style => 'color: white;'
