.jumbotron
  .container
    .row
      .col-md-6
        %h1
          Tagged!
          %small Tag! Your! Lists!
        %h2
          %small Tagged allows you to create lists, put items in those lists, tag those items, filter on those tags, then randomly select an item from that much smaller list. Why is this helpful? Read on:
      .col-md-6
        .pull-right= image_tag "front.png"
.container
  .row
    .col-md-6
      .pull-right{ :style => 'margin-right: 1%; margin-bottom: 1%;'}= image_tag "list.png"
    .col-md-6
      %h2
        %span.glyphicon.glyphicon-list-alt
        Lists!
      %h4 Tagged allows you to create as many lists and you damn well please. Create a list with one thing, or one-hundred. I don't care, neither should you. Create todo lists, grocery lists, fast food lists, multiplayer shooter lists, whatever.
  .row
    .col-md-6
      .pull-right{ :style => 'margin-right: 1%; margin-bottom: 1%;'}= image_tag "item.png"
    .col-md-6
      %h2
        %span.glyphicon.glyphicon-list
        Items!
      %h4
        This could be a foreign concept to some people... but... Lists contain
        %strong items.
        Tagged allows you to tag (GASP) items in a list. Why? Keep scrollin', cowboy.
  .row
    .col-md-6
      .pull-right{ :style => 'margin-right: 1%; margin-bottom: 1%;'}= image_tag "tag.png"
    .col-md-6
      %h2
        %span.glyphicon.glyphicon-tags
        Tags!
      %h4 Tags are the most important part of Tagged. You can put as many tags as you want on an item, click the tag, and see other objects that have that tag. Plain english version: Let's say I'm deciding where to eat, I don't want fast food, so I click the "sit down" tag. I really want a place with a good burger, so I'll click "burger", and while I'm at it, let's go to a place with a decent beer selection. *Clicks "great beer selection". There, now I have 3 places to choose from. Which one, though? I'll click the "Choose for Me!" button and I'll be on my way.

  .row
    .col-md-12
      %h1
        %strong The Official Often Asked Questions Area &copy;
      #accordion.panel-group
        .panel.panel-default
          .panel-heading
            %h2.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
                What does this this do?
          #collapseOne.panel-collapse.collapse.in
            .panel-body
              %h5
                Plain and simple: Make a list of stuff, filter it by tags, the app chooses one at random, that's your choice. It helps you make semi-informed decisions.
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
                Why the hell would you waste your time on this?
          #collapseTwo.panel-collapse.collapse
            .panel-body
              %h5
                I'm in the middle of a big Rails kick, so I decided to take on a personal challenge: Actually finish a project (even a small one). I had a problem: My girlfriend and I can't ever decide where to eat. My solution: Build a filterable list that will make the decision for us.
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
                Seriously?
          #collapseThree.panel-collapse.collapse
            .panel-body
              = image_tag "serious.gif"
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour"}
                Can I use this for x/y/z?
          #collapseFour.panel-collapse.collapse
            .panel-body
              %h5
                I honestly don't care, go for it. Want to use it for a raffle? A contest? To decide the outcome of a gladiator battle? Go for it, but understand, you cannot hold me liable. This software has no guarantees or warranties of any kind. Read the
                = link_to "license here.", "http://opensource.org/licenses/MIT"
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFive"}
                Who the hell made this?
          #collapseFive.panel-collapse.collapse
            .panel-body
              %h5
                = link_to "I did.", "http://samurailink3.com"
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSix"}
                Can I have the source code? Can I make this better? Are you accepting pull requests? Your design looks like shit.
          #collapseSix.panel-collapse.collapse
            .panel-body
              %h5
                1.
                = link_to "Yes you can.", "https://github.com/samurailink3/tagged_app"
              %h5
                2 & 3. Yep!
                = link_to "Pull requests go here.", "https://github.com/samurailink3/tagged_app"
              %h5
                4. That's not a question.
                =link_to "Send a pull request.", "https://github.com/samurailink3/tagged_app"
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSeven"}
                Can I hire you to "code my webapp"/"make a website"/"walk my dog"/"build me a shed"/"be my bodyguard"?
          #collapseSeven.panel-collapse.collapse
            .panel-body
              %h5
                I'm always looking for interesting projects. Check out
                = link_to "my credentials here", "http://samurailink3.com/hireme/cv/"
                and if you're interested
                = link_to "shoot me an email here.", "mailto:samurailink3@gmail.com"

