.container
  .row
    .col-md-12
      %hr
      %footer
  .row
    .col-md-6
      %p
        %a{:href => 'https://creativecommons.org/licenses/by/4.0/'}
        = image_tag "cc.png"
        = Time.now.year
        %a{:href => 'http://samurailink3.com'}
          Tom "SamuraiLink3" Webster
    .col-md-6
      %p.pull-right
        Code licensed under the
        %a{:href => 'http://opensource.org/licenses/MIT'} MIT License
        and available at
        %a{:href => 'https://github.com/samurailink3/tagged_app/'} GitHub
:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2406517-11', 'samurailink3.com');
  ga('send', 'pageview');
/ Piwik
:javascript
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stats.samurailink3.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 7]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
%noscript
  %p
    %img{:alt => "", :src => "http://stats.samurailink3.com/piwik.php?idsite=7", :style => "border:0;"}/
/ End Piwik Code
