.navbar.navbar-default
  .navbar-header
    %button.navbar-toggle{"data-toggle" => "collapse", "data-target" => "#navbar-collapse-1"}
      %span.sr-only Toggle Navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a= link_to "Tagged", root_path, :class => "navbar-brand"
  #navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li
        %a{:href => "http://samurailink3.com"} Who made this?
      %li
        %a{:href => "https://github.com/samurailink3/tagged_app"} Can I get one?
      %li
        %a{:href => "http://opensource.org/licenses/MIT"} Is it free?
      %li
        %a{:href => "https://creativecommons.org/licenses/by/4.0/"} Are you sure?
    %ul.nav.navbar-nav.navbar-right
      - if current_user
        %li
          = link_to "<span class='glyphicon glyphicon-list'></span> My Lists".html_safe, lists_path
        %li
          .navbar-form
            .btn-group
              %button.btn.btn-primary.dropdown-toggle{:data => {:toggle => 'dropdown'}}
                %img{:src => current_user.image, :height => '24px'}
                = current_user.nickname
                %span.caret
              %ul.dropdown-menu{:role => 'menu'}
                %li
                  %a{:href => '/signout'}
                    %span.glyphicon.glyphicon-off
                    Sign Out
      - else
        %li
          .navbar-form
            %a.btn.btn-primary{:href => "/auth/twitter", :style => "color: white;"}
              %span.glyphicon.glyphicon-user
              Sign in with Twitter