!!!
%html
  %head
    %title
      Tagged
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render :partial => "header"
    - if flash[:notice]
      .container
        .row
          .col-md-8.col-md-offset-2
            .alert.alert-info.alert-dismissable
              %button.close{:type => 'button', :aria => { :hidden => 'true' }, :data => { :dismiss => 'alert' } } &times;
              = flash[:notice]
    - if flash[:alert]
      .container
        .row
          .col-md-8.col-md-offset-2
            .alert.alert-danger.alert-dismissable
              %button.close{:type => 'button', :aria => { :hidden => 'true' }, :data => { :dismiss => 'alert' } } &times;
              = flash[:alert]
    = yield
    = render :partial => "footer"
